<div class="modal fade" id="new-body-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Inserimento nuovo corpo celeste</h4>
      </div>
      <div class="modal-body">
        <p>Inserire le informazioni richieste per il nuovo corpo celeste:</p>
        <%= render 'celestial_bodies/form' %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
