<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">Modifica corpo celeste</h1>
  </div>
  <div class="panel-body">
    <%= render 'form', binocular: @celestial_body %>
  </div>
</div>
