<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Buongiorno, <%= @user.name %></h1>
    <p>
      Ti comunichiamo che la Tua tessera scade tra 15 giorni.
    </p>
    <p>
      Contatta l'amministratore per rinnovare la Tua tessera.
    </p>
    <p>Grazie e buona giornata!</p>
    <p>Il team Stellar1</p>
  </body>
</html>
