<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">Modifica binocolo</h1>
  </div>
  <div class="panel-body">
    <%= render 'form', binocular: @binocular %>
  </div>
</div>
