<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">Modifica oculare</h1>
  </div>
  <div class="panel-body">
    <%= render 'form', eyepiece: @eyepiece %>
  </div>
</div>
