<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">Creazione nuovo utente</h1>
  </div>
  <div class="panel-body">
    <p>Inserimento dati errato:</p>
    <%= render 'new_member_form' %>
  </div>
</div>
