<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">Gestione utenti</h1>
  </div>
  <div class="panel-body">
    <p>Lista membri con iscrizione scaduta</p>
  </div>
  <%= render 'users/users_table' %>
</div>
