<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title"> Benvenuto <%= current_user.name %></h1>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-12">
        <% if ((current_user.subscription_expiration - DateTime.now).to_i > 15) %>
          <h5> La tua tessera scade il <%= current_user.subscription_expiration.strftime("%d/%m/%Y") %></h5>
        <% elsif ((current_user.subscription_expiration - DateTime.now).to_i < 0) %>
          <h5 style=color:red> La tua tessera è scaduta </h5>
        <% else %>
          <h5 style=color:orange> La tua tessera scade tra <%= (current_user.subscription_expiration - DateTime.now).to_i %> giorni</h5>
        <% end %>

        <h2 class="h4">Lista delle tue osservazioni</h2>
        <p>
          <strong>Azioni disponibili:</strong>
          <span>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#new-user-modal">Crea una nuova osservazione</button>
          </span>
        </p>
      </div>
    </div>
  </div>
