<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">Modifica filtro</h1>
  </div>
  <div class="panel-body">
    <%= render 'form', filter: @filter %>
  </div>
</div>
